body {
  font-family: 'Montserrat', sans-serif;
  color: #005388;
}

header {
  background-color: #005388;
  color: white;
  margin: auto;
  text-align: center;
  padding: 20px;
  font-size: 1.5em;
}

main {
  padding-top: 20px;
}

h2 {
  font-size: 1.375em;
}

h2,
h3 {
    margin: 5px 5px;
    padding: 8px 8px;
    text-align: center;
  }

h3 {
  font-weight: lighter;
  font-size: .85em;
  color: #827e7f;
}

hr {
  height: 4px;
  background-color: #005388;
  border: none;
  max-width: 95%;
}

form {
  max-width: 300px;
  margin: 10px auto;
  padding: 10px 20px;
  border-radius: 8px;
}

input,
textarea,
select {
  border: none;
  font-size: 16px;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 15px;
  background-color: #e8eeef;
  color: #8a97a0;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  margin-bottom: 30px;
}

#state {
  width: 87%;
  height: 48px;
}

#zip {
  width: 40%;
}

textarea {
  width: 85%;
  height: 75px;
}

input[type="radio"],
input[type="checkbox"] {
  margin: 0 8px 8px 0;
}

fieldset {
  margin-bottom: 0 auto;
  border: none;
}

legend {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 15px;
}

label {
  display: block;
}

label.light {
  display: inline;
}

button {
  padding: 15px 40px 15px 40px;
  color: #FFF;
  background-color: #55bab3;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  border-radius: 5px;
  border: 1px solid #005388;
  width: 100%;
}

input:focus {
    border: 3px solid #55bab3;
  }

footer {
      background-color: #F1F1F1;
      text-align: center;
      padding: 10px;
  }

.contact-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


::placeholder {
    color: grey;
    text-align: right;
    font-style: italic;
    padding: 10px;
    font-size: .85em;
}

  /* Media Queries */

@media (min-width: 768px) {

  main {
      max-width: 80%;
      margin: auto;
    }

  form,
  footer {
      max-width: 768px;
    }

  input[type="text"],
  input[type="email"],
  input[type="tel"],
  textarea,
  select {
      margin-bottom: 0;
    }

  input, #state {
      flex: 3;
}


  label {
      flex: 1;
}

  .input {
      display: flex;
      padding: 12px;
      flex: 3;
  }

  #zip {
    width: 120px;
    flex: 0;
    margin-left: 0;
    padding-left: 0;
  }

  textarea {
    width: 95%;
    height: 100px;
    margin-bottom: 20px;
}

}
